In [1]:
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd
import wrangle as w

### Do your work for these exercises in a jupyter notebook named scaling. Use the zillow dataset you acquired and prepped in previous lesson. Once you are finished, you may wish to repeat the exercises on another dataset for additional practice.

In [2]:
df = w.wrangle_zillow()

In [3]:
df.head()

,num_bedrooms,num_bathrooms,finished_sqft,tax_value,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [4]:
w.check_columns(df)

,Column Name,Number of Unique Values,Unique Values,Number of Null Values,dtype
6,fips,3,"[6037.0, 6059.0, 6111.0]",0,float64
0,num_bedrooms,19,"[4.0, 3.0, 0.0, 5.0, 2.0, 1.0, 6.0, 7.0, 8.0, ...",0,float64
1,num_bathrooms,38,"[2.0, 4.0, 0.0, 1.0, 2.5, 3.5, 3.0, 5.5, 4.5, ...",0,float64
4,yearbuilt,153,"[2005.0, 2011.0, 1926.0, 1972.0, 1973.0, 1960....",0,float64
2,finished_sqft,10557,"[3633.0, 1620.0, 2077.0, 1200.0, 171.0, 203.0,...",0,float64
3,tax_value,588178,"[296425.0, 847770.0, 646760.0, 5328.0, 6920.0,...",0,float64
5,taxamount,915868,"[6941.39, 10244.94, 7924.68, 91.6, 255.17, 163...",0,float64

### 1. Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution .

### 2. Apply the .inverse_transform method to your scaled data. Is the resulting dataset the exact same as the original data?

### 3. Read the documentation for sklearn's QuantileTransformer. Use normal for the output_distribution and apply this scaler to your data. Visualize the result of your data scaling.

### 4. Use the QuantileTransformer, but omit the output_distribution argument. Visualize your results. What do you notice?

### 5. Based on the work you've done, choose a scaling method for your dataset. Write a function within your prepare.py that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!